.codigo{
    width: 5%;
}
.proveedor{
    width: 10%;
}
.nombre{
    width: 20%;
}
.cantidad{
    width: 5%;
}
.unidad{
    width: 7%;
}
.total{
    width: 7%;
}
.folio{
    width: 10%;
}
.llega{
    width: 10%;
}
.aprovado{
    width: 5%;
}