<div class="container-fluid tabla-ordenes p-3  " style="padding: 0;margin: 0;">
  
  <!-- header container -->
  <div class="container-fluid header-container" >     
      <div class="container-fluid position-relative d-flex vals-container">

        <!-- header -->
        <div class=" container-fluid p-3 bg-primary text-white container-tittle" style="width: 100%;padding: 0;">
            <p class="h2" >Manufactura</p>  
            <div class="d-flex justify-content-between" style="width: 12%">
              <p class="h5">Proyectos Activos</p>      
              <p class="h5">{{total}}</p>    
            </div>  
        </div>
        
      </div>
       <!-- buscador -->
       <div class="container-fluid p-0">
        <nav class="nav bg-secondary text-light">
          <ul class="nav nav-tabs d-flex justify-content-between p-1 h6 search-list" >
            <li class="nav-item d-flex align-content-center li-orden">
              <p class="m-1">Orden:</p>
              <input type="number" min="0"  (input)="ordenesSearch($event)" >
            </li>
            <li class="nav-item d-flex align-content-center li-cliente">
              <p class="m-1">Cliente: </p>
              <select name="cliente" id="cliente" (input)="clientesSearch($event)">
                  <option ></option>
                @for(cliente of clientes;track $index){
                  <option >{{cliente}}</option>
                }                
              </select>
            </li>
            <li class="nav-item d-flex align-content-center li-producto">
              <p class="m-1">Producto: </p>
              <input type="text" style="width: 60%;" (input)="productoSearch($event)">
            </li>
            <li class="nav-item d-flex align-content-center li-status">
              <p class="m-1">Status: </p>
              <select name="cliente" id="cliente" (input)="statusSearch($event)" style="width: 60%;">
                  <option ></option>
                @for(stat of status;track $index){
                  <option >{{stat}}</option>
                }                
              </select>
            </li>
          </ul>            
        </nav>
      </div>
    </div>

    <!-- Tabla -->
    <div class="container-fluid container-table ">     
      <table class="table" style="border-radius: 5px;">
          <thead class="h6">
            <tr class="table-secondary">
              <th style="width: 2%;">Orden</th>
              <th style="width: 2%;">Tipo</th>
              <th style="width: 10%;">Diseño</th>
              <th style="width: 2%;">Días</th>
              <th style="width: 6%;">Entrega</th>
              <th style="width: 20%;">Cliente</th>
              <th style="width: 30%;">Producto</th>
              <th style="width: 5%;">Status</th>
            </tr>
          </thead>
          <tbody class="h6">           
            @for(item of tabla; track item.ot_number){
              <tr>
                <td>{{item.ot_number}}</td>
                <td>{{item.tipe_order}}</td>
                <td>{{item.create_date}}</td>
                <td>{{item.diferencia}}</td>
                <td>{{item.date_rel}}</td>
                <td>{{item.name_client}}</td>
                <td>{{item.product_name}}</td>
                <td>{{
                      item.status === 'aprobacion'
                      ? 'Nesteo'
                      : item.status === 'corte'
                      ? 'Corte'
                      : item.status === 'revision'
                      ? 'Revisión FAI'
                      : item.status === 'doblado'
                      ? 'Doblado'
                      : item.status === 'soldadura'
                      ? 'Soldadura'
                      : item.status === 'maquinado'
                      ? 'Maquinado'
                      : item.status === 'pintura'
                      ? 'Pintura'
                      : item.status === 'ensamble'
                      ? 'Ensamble'
                      : item.status === 'calidad'
                      ? 'Calidad'
                      : item.status === 'instalacion'
                      ? 'Instalación'
                      : item.status === 'terminado'
                      ? 'Terminado'                   
                      : item.status
                    }}</td>
              </tr>
            }
          </tbody>
      </table>
    </div>
    </div>
